@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Carrois+Gothic&family=Carrois+Gothic+SC&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #f0f0f0; }

body {
  max-width: 1200px;
  margin: 2rem auto;
  box-shadow: 0 0 1.5rem #d1d1d1; }

.header {
  width: 100%;
  background-color: whitesmoke;
  border-right: 0.6rem solid whitesmoke; }

.container {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  border-right: 0.6rem solid #8be0e0; }

.navigation {
  background-color: black; }

.main {
  position: relative; }
  .main__sec-header {
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1; }
  .main__content {
    padding: 4rem 5rem;
    padding-bottom: 16rem; }
  .main__sec-navigation {
    float: right; }
  .main__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #d1d1d1;
    padding: 2rem 0;
    flex-direction: column;
    color: #292929; }

.card {
  display: inline-block;
  background-image: url(../img/apa-class.png);
  background-size: cover;
  background-position: center;
  background-color: whitesmoke;
  margin: 2rem;
  box-shadow: 0 0 1.5rem #d1d1d1;
  width: 25rem;
  height: 35rem;
  position: relative;
  transition: all 1s; }
  .card:hover {
    box-shadow: 0 0 1.5rem #b8b8b8;
    transform: translateY(-1px); }
  .card__header {
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    z-index: 2; }
  .card__headline {
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 0.8rem 0;
    font-family: "Carrois Gothic SC", sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1rem; }
  .card__info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
    .card__info:hover {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.6); }
    .card__info--hidden {
      visibility: hidden; }
  .card__description {
    color: whitesmoke;
    margin: 0 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-style: italic; }
  .card__footer {
    display: none; }
  .card__button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: whitesmoke;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-family: "Carrois Gothic", sans-serif;
    box-shadow: 0 0 1.5rem #d1d1d1;
    transition: all 0.3s;
    cursor: pointer; }
    .card__button:hover {
      box-shadow: 0 0 1.5rem #b8b8b8;
      transform: translate(-50%, -2px); }

body {
  font-size: 1.2rem;
  font-family: "Carrois Gothis", sans-serif; }

h1 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 4.5rem; }

h2 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 2.5rem; }

p {
  font-size: 1.2rem;
  padding: 1rem;
  line-height: 1.5; }

.header {
  display: flex;
  justify-content: space-between; }
  .header__left-side {
    height: 100%; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__logo-image {
    width: 4rem;
    padding: 1rem; }
  .header__logo-headline {
    font-family: "Audiowide";
    font-size: 3.5rem;
    margin-bottom: 0.5rem; }
  .header__right-side {
    height: 100%;
    display: flex;
    align-items: center; }
  .header__notifications {
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer; }
    .header__notifications:hover {
      background-color: #ededed; }
  .header__notifications-icon {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    fill: #292929; }
  .header__notifications-alert {
    font-family: "Audiowide";
    position: absolute;
    top: 1;
    left: 1;
    background-color: rgba(211, 4, 4, 0.8);
    color: #f0f0f0;
    border-radius: 100%;
    padding: 0.2rem 0.5rem; }
  .header__profile {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center; }
    .header__profile:hover {
      background-color: #ededed; }
  .header__profile-icon {
    padding: 1rem;
    height: 4rem;
    border-radius: 100%; }

.navigation {
  border-right: 0.6rem solid #8be0e0;
  padding-bottom: 4rem; }
  .navigation__list {
    list-style-type: none; }
    .navigation__list--nested {
      list-style-type: none; }
  .navigation__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem 1rem;
    margin: 1rem 0; }
    .navigation__item:hover {
      background-color: #262626; }
    .navigation__item--nested {
      border-left: 0.8rem solid #292929;
      padding: 1rem;
      cursor: pointer;
      margin: 0.2rem 0; }
      .navigation__item--nested:hover {
        background-color: #292929; }
  .navigation__link {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Carrois Gothic SC", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    margin-left: 1rem;
    width: 100%;
    height: 100%; }
    .navigation__link--nested {
      text-decoration: none;
      color: whitesmoke;
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      font-family: "Carrois Gothic SC", sans-serif; }
  .navigation__icon {
    width: 2.1rem;
    height: 2.1rem;
    fill: whitesmoke;
    margin-bottom: 0.25rem; }
    .navigation__icon--arrow {
      width: 4rem;
      height: 4rem;
      padding: 0;
      margin: 0;
      fill: whitesmoke; }
      .navigation__icon--arrow-r2 {
        margin-left: -2rem; }

.rotate {
  transform: rotate(90deg); }

.none {
  fill: transparent; }

.sec-header__hero-image {
  background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(../img/temp-background.jpg);
  background-size: cover;
  background-position: top;
  height: 15rem; }

.sec-header__header-box {
  background-color: whitesmoke;
  z-index: 1;
  display: flex;
  align-items: center; }

.sec-header__headline {
  padding: 0.54rem 2rem; }

.sec-header__breadcrumb-box {
  padding: 1rem 2rem; }

.sec-header__breadcrumb-list {
  display: flex;
  list-style-type: none;
  border-left: 2px solid #d1d1d1;
  padding-left: 1rem; }

.sec-header__breadcrumb-item {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 2px solid #d1d1d1; }

.sec-header__breadcrumb-link {
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 1.6rem;
  color: #868686; }
  .sec-header__breadcrumb-link:hover {
    text-decoration: underline;
    color: #6d6d6d; }

.main__sec-navigation {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 4rem;
  padding-bottom: 1rem; }

.sec-navigation__headline {
  display: none; }

.sec-navigation__button {
  margin: 1rem 2rem;
  border: none;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Carrois Gothic", sans-serif;
  box-shadow: 0 0 1.5rem #d1d1d1;
  transition: all 0.3s;
  cursor: pointer; }
  .sec-navigation__button:hover {
    box-shadow: 0 0 1.5rem #b8b8b8;
    transform: translateY(-1px); }

.ter-navigation__list {
  display: flex;
  list-style-type: none;
  margin: 1rem 2rem; }

.ter-navigation__item {
  padding: 1rem 0; }

.ter-navigation__link {
  padding: 0 1rem;
  text-decoration: none;
  color: #292929; }
  .ter-navigation__link:hover {
    text-decoration: underline;
    color: #434343; }
  .ter-navigation__link--middle {
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8; }
