.footer {
  padding: 2rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Carrois Gothic", sans-serif;
  p {
    font-size: 1.2rem;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  &__navigation {
    &-list {
      display: flex;
      list-style-type: none;
      margin: 1rem 2rem;
    }
    &-item {
      padding: 1rem 0;
    }
    &-link {
      padding: 0 1rem;
      text-decoration: none;
      color: $color-grey-dark-1;
      &:hover {
        color: darken($color-grey-dark-1, 80%);
      }
      &--middle {
        border-left: 1px solid darken($color-grey-light-1, 10%);
        border-right: 1px solid darken($color-grey-light-1, 10%);
      }
    }
  }
}
