.header {
  button {
    margin: 0;
    position: relative;
    border-radius: 0;
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 800px) {
    flex-direction: row;
    padding: 1rem 0;
  }

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    padding: 0;
    &__left-side {
      padding-bottom: 4rem;
      border-bottom: 1px solid lightgray;
    }
  }
  &__left-side {
    cursor: pointer;
  }
  &__right-side {
    margin-right: 1.5rem;
  }
  &__left-side,
  &__right-side {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 5rem;
    margin-left: 1.5rem;
  }
  &__logotype {
    font-family: "Audiowide";
    font-size: 3.5rem;
    margin: 0;
    margin-left: 1.5rem;
  }
  &__search-bar-input {
    height: 2.5rem;
    border: $border;
    border-radius: 0;
    padding: 0 1.5rem;
    max-width: 10rem;
    margin: 0;
    margin-right: 3rem;
    @media only screen and (max-width: 800px) {
      width: 3rem;
    }
    &:focus {
      outline: none;
      border: $border-dark;
    }
  }
  &__notifications-alert {
    line-height: 0;
    font-family: "Audiowide";
    font-size: 1.2rem;
    position: absolute;
    top: -8px;
    right: -8px;
    min-height: 2rem;
    min-width: 2rem;
    background-color: rgb(211, 4, 4);
    color: $color-white-dark;
    border-radius: 30%;
    padding: 1rem;
  }
}
