.header {
  display: flex;
  justify-content: space-between;
  &__left-side {
    cursor: pointer;
  }
  &__left-side,
  &__right-side {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 5rem;
    margin-left: 1.5rem;
  }
  &__logotype {
    font-family: "Audiowide";
    font-size: 3.5rem;
    margin-left: 1.5rem;
  }
  &__search-bar {
    margin-right: 2rem;
  }
  &__search-bar-input {
    border-radius: 2.5rem;
    height: 2.5rem;
    border: $border;
    padding: 0 1.5rem;
    min-width: 20rem;
    &:focus {
      outline: none;
      border: $border-dark;
    }
  }
  &__notifications {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: darken($color-white, 3%);
    }
  }
  &__notifications-icon {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    fill: $color-grey-light-1;
  }
  &__notifications-alert {
    font-family: "Audiowide";
    font-size: 1.2rem;
    position: absolute;
    top: 1;
    left: 1;
    background-color: rgba(211, 4, 4, 0.8);
    color: $color-white-dark;
    border-radius: 100%;
    padding: 0.2rem 0.5rem;
  }
  &__profile {
    cursor: pointer;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: darken($color-white, 3%);
    }
  }
  &__profile-icon {
    padding: 1rem 1.5rem;
    height: 4.5rem;
    border-radius: 100%;
  }
}
