.layout {
  max-width: 88vw;
  margin: 2rem auto;
  box-shadow: $box-shadow;
  display: grid;
  grid-template-columns: minmax(25rem, max-content) 20rem 1fr;
  grid-template-rows: 7rem 16rem 7rem auto auto;
  grid-template-areas:
    "navigation header header"
    "navigation pagehero pagehero"
    "navigation pagenavigation pageheader"
    "navigation pagenavigation maincontent"
    "navigation pagenavigation footer";
}

.header {
  grid-area: header;
  background-color: $color-white;
}

.navigation {
  grid-area: navigation;
  background-color: $color-black;
  border-right: 0.6rem solid $color-light-blue;
}

.page-hero {
  grid-area: pagehero;
  background-color: gray;
  border-bottom: $border;
  border-top: $border;
}

.page-header {
  grid-area: pageheader;
  border-bottom: $border;
  display: flex;
  align-items: center;
  text-transform: lowercase;
}

.page-navigation {
  grid-area: pagenavigation;
  background-color: darken($color-white, 5%);
}

.main-content {
  grid-area: maincontent;
  padding: 2rem 4rem;
}

.footer {
  grid-area: footer;
  border-top: $border;
}
