.layout {
  max-width: 88vw;
  margin: 2rem auto;
  box-shadow: $box-shadow;
  display: grid;
  grid-template-columns: auto 20rem 1fr;
  grid-template-rows: 7rem 16rem 7rem auto auto;
  grid-template-areas:
    "navigation header header"
    "navigation pageheader pageheader"
    "navigation pagenavigation pageheadline"
    "navigation pagenavigation maincontent"
    "navigation pagenavigation footer";
}

.header {
  grid-area: header;
  background-color: $color-white;
}

.navigation {
  grid-area: navigation;
  background-color: $color-black;
}

.page-header {
  grid-area: pageheader;
  background-color: gray;
  border-bottom: $border;
  border-top: $border;
}

.page-headline {
  grid-area: pageheadline;
  border-bottom: $border;
  display: flex;
  align-items: center;
  text-transform: lowercase;
}

.page-navigation {
  grid-area: pagenavigation;
  background-color: darken($color-white, 5%);
}

.main-content {
  grid-area: maincontent;
  padding: 2rem 4rem;
}

.footer {
  grid-area: footer;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: $border;
}
