.page-navigation {
  padding-bottom: 4rem;
  padding-right: 2rem;
  ul {
    margin: 1.5rem 1.5rem;
    padding: 0 1.5rem;
    list-style-type: none;
    border-left: $border;
    color: darken(gray, 20%);

    .sec-active {
      border-bottom: 2px solid black;
      color: darken(gray, 80%);
    }

    li {
      cursor: pointer;
      padding: 0.5rem 0;
      padding-bottom: 0;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "Carrois Gothic SC", sans-serif;
      &:hover {
        color: darken(gray, 80%);
      }
    }
    ul {
      li {
        text-transform: none;
        font-weight: 300;
        font-family: "Carrois Gothic", sans-serif;
      }
    }
  }
}
