.page-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  &__breadcrumb-box {
    padding: 1rem 2rem;
  }
  &__breadcrumb-list {
    display: flex;
    list-style-type: none;
    border-left: 2px solid $color-grey-light-1;
    padding-left: 1rem;
  }
  &__breadcrumb-item {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 2px solid $color-grey-light-1;
  }
  &__breadcrumb-link {
    text-decoration: none;
    text-transform: lowercase;
    font-family: "Carrois Gothic SC", sans-serif;
    font-size: 1.6rem;
    color: $color-grey-light-2;
    &:hover {
      color: darken($color-grey-light-2, 40%);
    }
  }
}
