@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Carrois+Gothic&family=Carrois+Gothic+SC&display=swap");

// font-family: 'Audiowide', cursive;
// font-family: 'Carrois Gothic', sans-serif;
// font-family: 'Carrois Gothic SC', sans-serif;

body {
  font-size: 1.2rem;
  font-family: "Carrois Gothis", sans-serif;
}

h1 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 4.5rem;
}

h2 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  padding: 1rem;
  line-height: 1.5;
}
