$color-white: whitesmoke;
$color-white-dark: #f0f0f0;
$color-black: black;
$color-grey-light-1: rgb(209, 209, 209);
$color-grey-light-2: rgb(134, 134, 134);
$color-grey-light-3: rgb(124, 124, 124);
$color-grey-dark-1: #292929;
$color-grey-dark-2: #060606;
$color-light-blue: #8be0e0;
